@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}

.container-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "header"
        "main"
        "newProducts"
        "mostSelleds"
        "mailingList"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.section-newProducts {
    grid-area: newProducts;
}

.section-mostSelleds {
    grid-area: mostSelleds;
}

.section-mailingList {
    grid-area: mailingList;
}

footer {
    grid-area: footer;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header"
        "main"
        "newProducts"
        "mailingList"
        "footer";
}

.logo {
    display: flex;
    justify-content: center;
}

.logo h1 {
    background-color: black;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.5rem;
}

.logo h1 a {
    color: white;
    text-decoration: none;

}

.header__searchBar {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2.2rem;
    display: flex;
}

.header__searchBar i, a {
    color: black;
}

.header__searchBar i {
    font-size: 1.7rem;
    margin: 0.7rem 2rem 0rem 0rem;
}

#search {
    display: none;
}


.container {
    width: 100vw;
    margin-top: 1.3rem;
}

.navbar {
    position: absolute;
    top: 0.2rem;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    text-align: center;
}

.navbar .menu-items {
    display: flex;
    background-color: white;
    width: 100vw;
    position: relative;
    z-index: 1;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 1.1rem;
    left: 1.3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    margin-left: -1rem;
    margin-top: -3.3vh;
    flex-shrink: 0;
}

.navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

.main__subtitle {
    width: 20rem;
}

.main__subtitle h2 {
    font-size: 3.75rem;
    margin-bottom: 2rem;

}

.headerMobile {
    width: 100vw;
}

.main__subtitle {
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.main__subtitle p {
    font-family: 'Poppins';
    width: 19rem;
}

.main__categories {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.main__categories div {
    margin: auto;
    margin-bottom: 2rem;
}

.main__categories img {
    width: 80vw;
}

.main__categories p {
    position: absolute;
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}

.main__categories-btn {
    padding: 1rem 8rem 1rem 8rem;
    background-color: black;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;

}

.main__categories-btn button {
    background-color: black;
    border: none;
}

.main__categories-btn a {
    text-decoration: none;
    color: white;
}

.newProducts img {
    width: 65vw;
}

.newProducts__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.newProducts {
    display: flex;
    flex-direction: column;
}

.newProducts div {
    margin: auto;
    margin-bottom: 2rem;
}

.price {
    font-family: 'Poppins';
}


.mostSelleds img {
    width: 65vw;
}

.mostSelleds__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.mostSelleds {
    display: flex;
    flex-direction: column;
}

.mostSelleds div {
    margin: auto;
    margin-bottom: 2rem;
}

.mailingList {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.mailingList__content {
    width: 300px;
}

.mailingList__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.mailingList__text {
    font-family: 'Poppins';
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.mailingList__btn {
    font-family: 'Poppins';
    border: 2px solid black;
    width: 18.75rem;
    height: 3.1rem;
    background-color: white;
}

.mailingList__btn a {
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
}



.footerContent p {
    font-family: 'Poppins';
}

.footerItems-left {
    margin-top: 40px;
    text-align: center;
}

.footerItems-left-Cookies {
    margin: 1.3rem;
}

.footerItems-right {
    margin-top: 40px;
    text-align: center;
}

.footerItems-right-Politics {
    margin: 1.3rem;
}

.footer-SocialMedia-title {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.footer-SocialMedia-content {
    display: flex;
    justify-content: center;
}

.footer-SocialMedia-content a {
    margin: 1rem;
    color: white;
}



.footerContent {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "left-Footer right-Footer"
        "social-Media social-Media"
        "copyright copyright";
        background-color: black;
        color: white;
}

.footerItems {
    grid-column: 1/4;
    display: flex;

}

.footerItems-left {
    grid-area: left-Footer;
}

.footerItems-left {
    grid-area: left-Footer;
}

.footerItems-left p {
    text-align: center;
}

.footerItems-right {
    grid-area: right-Footer;
}

.footerItems-right p {
    text-align: center;
}

.social-Media {
    grid-area: social-Media;
}

.copyright {
    grid-area: copyright;
    font-size: 0.8rem;
    opacity: 0.4;
    margin-left: 1rem;

}

footer {
    grid-column: 1/4;
}

.carousel {
    margin: 2rem;

}

.contacto-title {
    text-align: center;
    margin: 3rem;
}

.btn {
    display: flex;
    margin: auto;
    margin-bottom: 4rem;
}

@media screen and (min-width:600px) {
    .container-body {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "header header header"
            "main main main"
            "newProducts newProducts newProducts"
            "mostSelleds mostSelleds mostSelleds"
            "mailingList mailingList mailingList"
            "footer footer footer";
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "header      header      header"
            "main        main        main"
            "newProducts newProducts newProducts"
            "mailingList mailingList mailingList"
            "footer      footer      footer";
    }

    .main__categories {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .main__categories img {
        width: 45vw;
    }

    .newProducts {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-areas: "title title title"
            "product product product"
            "product product product";
    }

    .newProducts__title {
        grid-area: title;
    }

    .newProducts__title {
        margin-left: 0.8rem;
    }

    .newProducts img {
        width: 30vw;
    }

    .mostSelleds {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-areas: "title title title"
            "product product product"
            "product product product";
    }

    .mostSelleds__title {
        grid-area: title;
    }

    .mostSelleds__title {
        margin-left: 0.8rem;
    }

    .mostSelleds img {
        width: 30vw;
    }

    .footerContent {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "left-Footer right-Footer"
            "social-Media social-Media"
            "copyright copyright";
    }

    .footerItems {
        grid-column: 1/4;
        display: flex;

    }

    .footerItems-left {
        grid-area: left-Footer;
    }

    .footerItems-left {
        grid-area: left-Footer;
    }

    .footerItems-left p {
        text-align: center;
    }

    .footerItems-right {
        grid-area: right-Footer;
    }

    .footerItems-right p {
        text-align: center;
    }

    .social-Media {
        grid-area: social-Media;
    }

    .copyright {
        grid-area: copyright;
    }

    footer {
        grid-column: 1/4;
    }
}

@media screen and (min-width:1024px) {

    .header {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-rows: repeat(1, auto);
        grid-template-areas:
            "nav logo search";
    }

    .logo {
        grid-area: logo;
    }

    .navbar {
        grid-area: nav;
    }

    .header__searchBar {
        grid-area: search;
    }

    #search {
        display: block;
    }

    .display {
        display: block;
    }

    .main__categories {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .main__categories img {
        width: 30vw;
    }

    .main__categories-btn {
        width: 30vw;
    }

    .newProducts__title {
        font-size: 1.5rem;
        margin-top: 4rem;
        text-align: start;

    }

    .container-products {
        margin-top: 2rem;
    }

    .newProducts {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "title title title title title"
            "muffing1 muffing2 muffing3 muffing4 muffing5";
    }

    .newProducts__title {
        grid-area: title;
    }

    .muffing1 {
        grid-area: muffing1;
    }

    .muffing2 {
        grid-area: muffing2;
    }

    .muffing3 {
        grid-area: muffing3;
    }

    .muffing4 {
        grid-area: muffing4;
    }

    .muffing5 {
        grid-area: muffing5;
    }

    .muffing6 {
        grid-area: muffing6;
    }

    .muffing7 {
        grid-area: muffing7;
    }

    .muffing8 {
        grid-area: muffing8;
    }

    .muffing9 {
        grid-area: muffing9;
    }

    .muffing10 {
        grid-area: muffing10;
    }


    .newProducts {
        justify-content: space-between;
        flex-direction: row;
    }

    .newProducts img {
        width: 17vw;
    }

    .mostSelleds {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "title title title title title"
            "product product product product product";
    }

    .mostSelleds__title {
        grid-area: title;
    }

    .section-mostSelleds img {
        width: 17vw;
    }

    .mostSelleds__title {
        text-align: start;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .mailingList {
        margin-top: 4rem;
    }

    .footerContent {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "left-Footer right-Footer"
            "social-Media social-Media"
            "copyright copyright";
    }

    .footerItems {
        grid-column: 1/3;
        display: flex;

    }

    .footerItems-left {
        grid-area: left-Footer;
    }

    .footerItems-left {
        grid-area: left-Footer;
    }

    .footerItems-left p {
        text-align: center;
    }

    .footerItems-right {
        grid-area: right-Footer;
    }

    .footerItems-right p {
        text-align: center;
    }

    .social-Media {
        grid-area: social-Media;
    }

    .copyright {
        grid-area: copyright;
    }

    .footer-SocialMedia-content a {
        color: white;
        font-size: 1.3rem;
    }
}

/* Animaciones */
.text-focus-in:hover {
    -webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}