@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500&display=swap');

.container-body {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 0fr 0fr 0fr;
    grid-template-areas:"container-header"
                        "container-categories"
                        "container-products"
                        "container-mailingList"
                        "container-footer";













































                        

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}

.container{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    grid-template-areas:"container-header"
                        "container-categories"
                        "container-product"
                        "container-mailingList"
                        "container-footer";
                        
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
}

.title-background {
    background-color: black;
    margin-top: 30px;
}

.menu {
    position: absolute;
    top: 0;
    margin: 30px;
}

.menu ul li {
    display: inline-block;
    margin: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.navbar {
    position: absolute;
    right: 0%;
    top: 0;
    margin: 30px;
}

.navbar ul li {
    display: inline-block;
    margin: 15px;
}

.img-header {
    width: 100vh;
}

.subtitle-h2 {
    margin: 15px;
    font-size: 60px;
    width: 340px;
}

.subtitle-h2_content {
    margin: 15px;
    width: 425px;
    margin-bottom: 40px;
    font-family: 'Poppins';
}

.categories {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 100px;
}

.textCuadros {
    position: absolute;
    font-size: 40px;
    color: white;
}

.textHandMade {
    position: absolute;
    left: 36.8%;
    font-size: 40px;
    color: white;
}

.textReposteria {
    position: absolute;
    left: 72.9%;
    font-size: 40px;
    color: white;
}

.title-newProduct {
    margin: 15px;
    font-size: 30px;
}

.container-newProduct {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 100px;
}

.container-newProduct img {
    width: 290px;
    height: 290px;
}

.title-mostSelled {
    margin: 15px;
    font-size: 30px;
}

.container-mostSelled {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 100px;
}

.container-mostSelled img {
    width: 290px;
    height: 290px;
}

.mailingList {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.mailingList-content {
    width: 300px;
}

.mailingList-title {
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.mailingList-contentParagraph {
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.mailingList-btn {
    font-family: 'Poppins';
    border: 2px solid black;
    width: 300px;
    height: 50px;
    background-color: white;
}

.mailingList-btn a {
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
}

.footerContent {
    background-color: black;
    color: white;
}

.footerContent p {
    font-family: 'Poppins';

}

.footerItems {
    display: flex;
    justify-content: center;
}

.footerItems-left {
    margin-top: 40px;
    width: 450px;
    text-align: center;
}

.footerItems-left-Cookies {
    margin: 20px;
}

.footerItems-right {
    margin-top: 40px;
    width: 450px;
    text-align: center;
}

.footerItems-right-Politics {
    margin: 20px;
}

.footer-SocialMedia-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.footer-SocialMedia-content {
    display: flex;
    justify-content: center;
}

.footer-SocialMedia-content a {
    margin: 10px;
    background-color: white;
}

.copyright {
    font-size: 12px;
    opacity: 0.4;
    margin-left: 15px;
}

/* Cuadros HTML */

.descuento {
    margin: 40px;
}

.descuento img {
    width: 100%;
}

.imgZenitsu {
    width: 630px;
    height: 630px;
}

.imgPaisajes {
    width: 630px;
    height: 630px;
}

.cat-cuadros {
    display: flex;
    justify-content: space-around;
}

.cat-cuadro-zenitsu {
    width: 600px;

}

.cat-cuadro-zenitsu-title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn-anime {
    border: 2px solid black;
    padding: 15px 100px 15px 100px;
    background-color: white;
    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    margin-top: 30px;
}

.cat-cuadro-paisajes {
    width: 600px;
}

.cat-cuadro-paisajes-title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn-paisajes {
    border: 2px solid black;
    padding: 15px 100px 15px 100px;
    background-color: white;
    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    margin-top: 30px;
}

.most-selled-title {
    margin-top: 130px;
    margin-left: 40px;
}

.most-selled {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

.most-selled img {
    width: 300px;
    height: 300px;
}

.most-selled-price {
    font-family: 'Poppins';
}

/*  HANDMADE HTML */

.imgCollaresPiedras {
    width: 630px;
    height: 630px;
}

.imgJoyeroPorcelana {
    width: 630px;
    height: 630px;
}

.contacto-title {
    margin-top: 80px;
    text-align: center;
    font-size: 40px;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.form-nombre label {
    position: absolute;
    font-size: 10px;
    margin: 5px;
    margin-left: 23px;
}

.form-nombre input {
    padding: 20px;
    border-radius: 10px;
    width: 750px;
    font-size: 20px;
    margin-bottom: 25px;
}

.form-email label {
    position: absolute;
    font-size: 10px;
    margin: 5px;
    margin-left: 23px;
}

.form-email input {
    padding: 20px;
    border-radius: 10px;
    width: 750px;
    font-size: 20px;
    margin-bottom: 25px;
}

.form-tel label {
    position: absolute;
    font-size: 10px;
    margin: 5px;
    margin-left: 23px;
}

.form-tel input {
    padding: 20px;
    border-radius: 10px;
    width: 750px;
    font-size: 20px;
    margin-bottom: 25px;
}

.form-asunto label {
    position: absolute;
    font-size: 10px;
    margin: 5px;
    margin-left: 23px;

}

.form-asunto select {
    padding: 20px;
    border-radius: 10px;
    width: 750px;
    font-size: 20px;
    margin-bottom: 25px;
}

.form-mensaje textarea{
    padding: 20px;
    border-radius: 10px;
    width: 750px;
    font-size: 20px;
    margin-bottom: 25px;
}

.form-btn{
    padding: 15px 350px 15px 350px;
    border-radius: 30px;
    background-color: black;
    color: white;
}